<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sedgwick+Ave+Display" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Mystery Word - New Game</title>
  </head>
  <body>
    <div class="home-top">
    <h1 class="logo">Mystery Word</h1>
    <h1 class="red">Choose Your Difficulty</h1>
  </div>
    <form class="easy" action="/easy" method="post">
      <button type="submit" name="button">Cowardly</button>
    </form>
    <form class="medium" action="/medium" method="post">
      <button type="submit" name="button">Brave</button>
    </form>
    <form class="hard" action="/hard" method="post">
      <button type="submit" name="button">Brazen</button>
    </form>
  </body>
</html>
