<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word - New Game</title>
  </head>
  <body>
    <h1>Mystery Word</h1>
    <h1>Choose Your Difficulty</h1>
    <form class="easy" action="/easy" method="post">
      <button type="submit" name="button">Cowardly</button>
    </form>
    <form class="medium" action="/medium" method="post">
      <button type="submit" name="button">Brave</button>
    </form>
    <form class="hard" action="/hard" method="post">
      <button type="submit" name="button">Brazen</button>
    </form>
  </body>
</html>
