/*
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Montserrat', sans-serif;
*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: 'Sedgwick Ave Display', cursive;
	font-weight: lighter;
}

body {
	height: 100vh;
	background-image: url("/bg.jpeg");
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

span {
	color: red;
}

.container {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
}

h2 {
	display: inline-block;
	font-size: 50px;
	margin: 3px;
	font-family: 'Sedgwick Ave Display', cursive;
	font-weight: lighter;
}

p {
	color: red;
}

.word {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.guess {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	font-size: 50px;
	width: 45px;
	border: none;
	color: white;
	font-family: 'Sedgwick Ave Display', cursive;
	font-weight: lighter;
	border-bottom: 2px solid white;
	background-color: rgba(0, 0, 0, 0);
}

input:focus {
	outline: none;
}

button {
	margin-top: 20px;
	padding: 10px;
	border: 2px solid white;
	font-size: 20px;
	background: none;
	color: white;
	transition: background 0.5s, color 0.5s;
}

button:hover {
	background-color: white;
	color: black;
}

button:focus {
	outline: none;
}

.red {
	color: red;
}
